@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

* {
    font-family: 'Poppins', sans-serif;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-sm {
    scrollbar-width: thin;
}
.scrollbar-sm::-webkit-scrollbar {
    width: 5px;
}

img {
    max-width: 100%;
}

/* react slick start  */
/* .slick-prev,
.slick-next {
    display: block !important;
    background: #000;
    z-index: 1000; /* Ensure it is above other elements */

/* .slick-next:hover {
    background: #000;
} */

.slick-dots li.slick-active div {
    background-color: #00b207 !important; /* Change active dot color */
    color: white; /* Text color */
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

/* react slick end  */

@theme {
    --color-bottle-green: #2b572e;
    --color-primary: #00b207;
    --shadow-box-sm: 0 0 4px 1px rgba(0, 0, 0, 0.15);
    --shadow-box-md: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    --shadow-box-sm-hover: 0 0 15px 1px rgba(0, 0, 0, 0.15);
    --shadow-box-lg: 0 0 30px 1px rgba(0, 38, 3, 0.08);
    --shadow-box: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}

.max-width {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
}

.active {
    @apply text-primary;
}

@media (max-width: 1279px) {
    .max-width {
        max-width: 1024px;
    }
}
@media (max-width: 1023px) {
    .max-width {
        max-width: 768px;
    }
}
@media (max-width: 767px) {
    .max-width {
        max-width: 640px;
    }
}
@media (max-width: 639px) {
    .max-width {
        padding-inline: 16px;
    }
}
